@import url('https://fonts.googleapis.com/css?family=Roboto:300|Source+Code+Pro&display=swap');

body {
    color: #000;
    font-family: 'Roboto';
    font-weight: lighter;
    background-image: url(../images/bluesky.jpg);
    background-size: cover no-repeat center;  
    color: #fff;
    
    
}

.location-details {
 
    margin-bottom: 30px;
}

.location-details p {
    font-size: 2em;

    text-shadow: 0px 4px 3px rgba(0,0,0,0.3),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
    margin-top: none;
    padding-left: 20px;

}

.sub-text {
    margin-bottom: 20px; 
    padding-bottom: 20px;
}

.sub-text p {
    color: red;
}

.title-header {
     padding-bottom: 20px;
     text-align: center;
     margin-bottom: 30px;
}

.forecast-app {
    margin: 10px;
    border-radius: 10px;
} 
.forecast-summaries {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.forecast-item {
    padding: 10px;
    text-align: center;
    font-size: 1.1em;   
} 
.forecast-summary button {
   border-radius: 15px;
   height: 25px;
   margin: 10px;
}
.forecast-summary button:hover {
    align-items: center;
    border: 2px solid; 
    
}
.items-container {
    border: solid 1px;
    box-shadow: 10px 10px 84px 9px rgba(0,0,0,0.75);
    border-radius: 5px;
    width: 250px;
    margin: 10px;
}
.button-item {
    text-align: center;
}

#thisbit{
    margin: 30px 20px 40px 20px;
    padding: 0px 15px 15px 15px;
    border: solid 1px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    line-height: 1.8;
    background-color: #1a1a1a;
    
}

#thisbit p {
   font-size: 2em;
   text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
    padding-bottom: none;
    margin-bottom: 5px;
    margin-top: 5px;
}

 .forecast-details-date {
     padding-top: none;
 }
 .main-header{
    width:100%; 
    height: 75px;
    padding-bottom: 20px;
}

.main-header p {
    font-size: 2.5em;
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 15px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
    text-align: center;
}

#format-date {
    font-size: 1.5em;
    padding: 20px;
}

.searchBar {
    margin-right: 50px;
    padding-bottom: 20px;

}

.input {
    margin-left: 20px;
    margin-right: 40px;
    border-radius: 5px;
    height: 25px;   
    width: 130px;
}
.searchButton {
    height: 25px;
    width: 75px;
    border-radius: 15px;
    font-size: 0.75em;
}
.searchButton button:hover {
    background-color: #1a1a1a;
}

.search-title p {
    margin-left: 20px;
    font-size: 1.4em;
   
}
.line-headers {
    background-color: #1a1a1a;
    border-color: #1a1a1a;
}

#bottom-line {
    margin-bottom: 50px;
}

