body {
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    background-color: #2C2523;
    color: #fff;
}

.title-header {
    text-align: center;
   

}

.forecast {
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    border: solid 2px;
    border-radius: 10px;
 

} 
.forecast-summaries {
  
    padding: 10px;
    border: solid 2px;
    border-radius: 10px;
    background-color: #2c508a;
}

#thisbit{
    height:150px;
    padding: 10px;
    border: solid 2px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #D15234;
}
